@charset "utf-8";
#container {
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	background-color: #f93;
}
#header {
	height: 300px;
	width: 1000px;
	background-image: url(images/logo.jpg);
}
#nr {
	height: auto;
	width: 1000px;
	background-color: #F93;
}
#duishi {
	height: auto;
	width: 1000px;
	padding: 20px;
}
#kuli {
	height: 400px;
	width: 1000px;
	padding: 20px;
}
#dulante {
	height: 400px;
	width: 1000px;
	padding: 20px;
}
#kelai {
	height: 400px;
	width: 1000px;
	padding: 20px;
}
a:link,a:visited,a:hover,a:active {
	text-decoration: none;
	color: #06F;
}

.ming {
	float: left;
	width: 120px;
	margin-top: 150px;
	margin-left: 50px;
}
#daohang {
	float: right;
	width: 500px;
	margin-top: 280px;
}
